<div>
  <uofx-form-field-name [name]="name" [required]="required">
  </uofx-form-field-name>
</div>
<div class="fw-control">
  <form [formGroup]="form">

    <div *ngFor="let item of categorys">
      <p-radioButton
      [value]="item.categoryID"
      formControlName="category"></p-radioButton>
        <label [for]="item.categoryID" class="ml-2">{{ item.categoryName }}</label>
    </div>

    <div formArrayName="custData">
      <div *ngFor="let item of custData.controls; let i = index" [formGroupName]="i">
        <input formControlName="companyName">
        <input formControlName="address">
        <input formControlName="phone">
        <button
        class="e-btn u-btn-primary buttons-opposite"
         data-ripple="true"
        (click)="deleteRow(i)">刪除
      </button>
      </div>
    </div>

    <button
       class="e-btn u-btn-primary buttons-opposite"
        data-ripple="true"
       (click)="addRow()">新增一列
     </button>

  </form>

</div>


